# Use postgres/example user/password credentials

services:
  db:
    image: postgres
    container_name: myapp_db
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    volumes:
      - ./postgres_data:/var/lib/postgresql
    environment:
      POSTGRES_USER: example
      POSTGRES_PASSWORD: example
      POSTGRES_DB: example
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb

  my-app:
    container_name: myapp
    image: myapp:latest
    restart: always
    ports:
      - 8080:8080
